version: "3"

services:
  my-awesome-app-local:
    image: my-awesome-app:latest
    build:
        context: .
        dockerfile: Dockerfile
    ports:
      - "8080:80"

  my-awesome-app-from-docker-hub:
    image: fernandoarteaga/my-awesome-app:latest
    ports:
      - "8081:80"

  my-awesome-app-from-github-container-registry:
    image: ghcr.io/learn-devops/my-awesome-app:latest
    ports:
      - "8082:80"
