name: "Check Docker build"
on:
  pull_request:
    paths:
      - "my-awesome-app/**"

jobs:
  build:
    name: "Build docker image"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Docker build"
        uses: docker/build-push-action@v5
        with:
          context: ./my-awesome-app
          push: false
          tags: my-awesome-app:latest
